@model IEnumerable<FYP_App.Models.Sensor>
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/AdminLayOut.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>Information Cards - Bootsnipp.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        .my-card {
            position: absolute;
            left: 40%;
            top: -20px;
            border-radius: 50%;
        }
    </style>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>
<body>
    <br />
    <br />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css
">
    <div class="container">


        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Congratulations !!</strong> You are loging Successfully.
        </div>

        <div class="jumbotron">
            <div class="row w-100">

                <div class="col-md-3">
                    <div class="card border-info mx-sm-1 p-3">
                        <div class="card border-info shadow text-info p-3 my-card"><span class="fa fa-user" aria-hidden="true"></span></div>
                        <div class="text-info text-center mt-3"><h4>Total Users</h4></div>
                        <div class="text-info text-center mt-2"><h1>  @ViewBag.Countuser </h1></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card border-success mx-sm-1 p-3">
                        <div class="card border-success shadow text-success p-3 my-card"><span class="fa fa-eye" aria-hidden="true"></span></div>
                        <div class="text-success text-center mt-3"><h5>Approved Users</h5></div>
                        <div class="text-success text-center mt-2"><h1>  @ViewBag.Countapproveduser </h1></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card border-info mx-sm-1 p-3">
                        <div class="card border-info shadow text-info p-3 my-card"><span class="fa fa-inbox" aria-hidden="true"></span></div>
                        <div class="text-info text-center mt-3"><h4>Total Complaints</h4></div>
                        <div class="text-info text-center mt-2"><h1>  @ViewBag.Counttotal </h1></div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card border-success mx-sm-1 p-3">
                        <div class="card border-success shadow text-success p-3 my-card"><span class="fa fa-inbox" aria-hidden="true"></span></div>
                        <div class="text-success text-center mt-3"><h5>Solved Complaints</h5></div>
                        <div class="text-success text-center mt-2"><h1>  @ViewBag.Count </h1></div>
                    </div>
                </div>

            </div>
        </div>
        <section class="grid">
            @*<article>1</article>*@
            <article>2</article>
            <article>3</article>
            <article>4</article>
            <article>5</article>
            <article>6</article>
            <article>7</article>
            <article>9</article>
        </section>
    </div>


    <script type="text/javascript">

    </script>
</body>
</html>